/*** page ***/
	html, body {
		margin: 0px;
		padding: 0px;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		position: absolute;
		top: 0px;
		left: 0px;
	}

	#logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		height: 200px;
		width: 200px;
		opacity: 0.5;
		pointer-events: none;
		user-select: none;
		z-index: 2;
		background-color: transparent;
		background-image: url(logo.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}

	/* j-logo */
		#j-logo {
			position: absolute;
			top: 14px;
			right: 8px;
			background-color: transparent;
			background-image: url("../resources/j.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			height: 32px;
			width: 32px;
			cursor: pointer;
			z-index: 1000;
			outline: none;
			filter: drop-shadow(0px 0px 2px #999999);
		}

		#j-logo:hover, #j-logo:focus {
			filter: drop-shadow(0px 0px 4px #222222);
		}

/*** chart ***/
	#chart {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		position: absolute;
		top: 0px;
		left: 0px;
		user-select: none;
		pointer-events: none;
		z-index: 1;
	}

	.wedge {
		float: left;
		height: 100vh;
		text-align: center;
	}

/*** flashes ***/
	#flashes {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		position: absolute;
		top: 0px;
		left: 0px;
		user-select: none;
		pointer-events: none;
		z-index: 3;
	}

	.flash {
		position: absolute;
		box-shadow: 0px 0px 10px #dddddd inset;
		border-radius: 100%;
		height: 0px;
		width: 0px;
		transform: translateX(-50%) translateY(-50%);
		user-select: none;
		pointer-events: none;
	}

	.flash[expand] {
		transition: 0.3s;
		height: 100px;
		width: 100px;
		opacity: 0.1;
	}
	